/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
font-family: 'Roboto', Helvetica, sans-serif;
position: relative;
}


main {
    position: relative;
    margin-bottom: 24px;
}

body.home main {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: calc(100% - 14vw); /* deja espacio para el logo */
  bottom: 0;
  right: 0;
  height: 100vh;
  overflow: hidden;
  gap: 12px
}

/* MAIN en ENTREVIEWS o resto de páginas */
body:not(.home) main {
  position: relative;
  width: calc(100% - 14vw);
  margin-left: auto;
  height: auto;          /* o min-height: 100vh si quieres ocupar toda la pantalla */
  overflow-y: auto;
}

main.interviews-container {
    padding: 40px;
}
/* Logotipo fijo */
.logo-container {
  position: fixed;
  width: 14vw;
  left: 0px;
  top: 0px;
  padding: 24px;
}

.logo {
 width: 100%;
 max-width: 9.9vw;
 object-fit: contain;
}

/* Menú sticky */
.menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  z-index: 999;
}

.menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2.5px solid transparent; /* Línea invisible por defecto */
  transition: border-bottom 0.3s ease;  /* Animación suave */
  font-size: 0.7rem;
}

.menu a:hover,
.menu a.active {
  border-bottom: 2.5px solid black;
}

.top-decor {
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 24px;
}


.description-container {
  display: flex;
  flex-direction: column;   /* apilar elementos verticalmente */
  justify-content: flex-end; /* empuja los hijos hacia abajo */
  align-items: flex-start;   /* alinea a la izquierda */
  height: 35%;              /* el contenedor debe tener altura */
  position: relative;
}

.description {
  font-size: 18px;
  line-height: 22px;
}

/* Scroll horizontal */
.horizontal-scroll {
  flex: 1;
  display: flex;
  height: 65%;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 12px;
}

.panel {
  position: relative; /* Para que el texto se posicione sobre la imagen */
  flex: 0 0 23vw;
  scroll-snap-align: start;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden; /* Para que el hover no se salga */
}

.panel a .hover-content {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  gap: 40px;
  flex-direction: column;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  background-color: white;
  border-radius: 8px;
  width: 40px;
  height: 40px;
}

.title-hover, .excerpt {
    display: none;
}

.panel a:hover .hover-content {
  opacity: 1;
}

.hover-content .title-hover {
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: left;
}

.hover-content .plus {
  font-size: 2rem;
  display: block;
  margin-bottom: 0.5rem;
}

.hover-content .excerpt {
  font-size: 1rem;
  text-align: right;
}

.horizontal-scroll .panel a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.horizontal-scroll .panel a:hover img {
  filter: brightness(99%); /* imagen más oscura */
  transition: transform 0.3s ease, filter 0.3s ease;
}


/* Aparece al hacer hover sobre el enlace */
.horizontal-scroll .panel a:hover::after {
  opacity: 1;
}



/* ---------------- MOBILE ---------------- */
.hamburger {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 28px;
  cursor: pointer;
  z-index: 1001;
}

/* Mobile */
/* ---------------- MOBILE ---------------- */
@media (max-width: 768px) {

    .title-hover {
    display: flex;
}

.excerpt {
    display: flex;
}

  body.home main {
    position: relative;  /* ya no fijo en mobile */
    width: 100%;         /* ocupa todo el ancho */
    height: auto;        /* altura según contenido */
    overflow: visible;   /* permite scroll vertical */
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
  }
  

  body:not(.home) main {
    margin-left: 0px;
    padding: 32px;
    width: 100%;
  }

  body {
    overflow-y: auto;    /* permite scroll en todo el body */
  }

  /* Logo junto al menú hamburguesa */
  .logo-container {
    width: fit-content;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1002;
    margin-bottom: 40px;
  }

.logo {
  width: 70px;
  height: auto;
  transform-origin: center center;
  object-fit: contain;
  max-width: 15vw;
}

  /* Hamburger visible */
  .hamburger {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 34px;
    cursor: pointer;
    z-index: 1003;
  }

  /* Menu como sidebar vertical */
  .menu {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%; /* escondido por defecto */
    height: 100%;
    width: 200px;
    justify-content: center;
    align-items: flex-end;
    background: white;
    transition: right 0.3s ease-in-out;
    z-index: 1001;
    padding: 40px;
  }

  .menu.show {
    right: 0;
    width: 100%;
  }

  .menu a {
    font-size: 1rem;
    margin: 16px 0;
    text-align: right;
  }
  .description-container {
    height: 350px;
    width: 100%;
  }

  .description {
  font-size: 16px;
  line-height: 20px;
  text-align: right;
}

  /* Scroll horizontal convertido en columna vertical */
  .horizontal-scroll {
    flex-direction: column;
    height: auto;
    overflow-x: hidden;
    overflow-y: visible;
    gap: 16px;
  }

  .panel {
    flex: 0 0 auto;
    width: 100%;           /* panel ocupa todo el ancho */
    height: auto;
    display: block;        /* para que el <a> ocupe todo el ancho */
  }

  .panel a {
    text-decoration: none !important;
    color: inherit !important;
  }

  .panel a .hover-content {
    position: relative;
    bottom: 10px;
    width: 100%;           /* ocupa todo el ancho del enlace */
    max-width: 100%;
    opacity: 1;            /* siempre visible */
    display: flex;
    flex-direction: column;
    padding:  24px 6px 0px;
    gap: 8px;
    text-align: left;
    border-radius: 0px;
    border: solid 5px white;
    background-color: white;
    margin: 0px;
    height: fit-content;
  }

  .hover-content .title-hover {
    width: 70%;
    font-size: 1.5rem;
    line-height: 2.2rem;
    text-decoration: none !important;
    margin-bottom: 0px;
  }

  .hover-content .plus {
    display: none; /* opcional, si quieres ocultar el + en mobile */
  }

  .hover-content .excerpt {
    font-size: 16px;
    text-align: left;
  }

  .top-decor {
    display: none;
  }
}



/* INTERVIEWS*/
.interview {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
  font-family: "Helvetica", sans-serif;
}

/* Encabezado */
.header-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.header-section .text-block {
  max-width: 70%;
}


.header-section .title-interview {
  font-size: 42px;
  margin: 0 0 10px 0;
  line-height: 1.2;
}

.header-section .date {
  font-size: 20px;
  margin: 0;
  text-align: left;
}

.image-block {
    width: 100%;
    display: flex;
    justify-content: end;
}

.header-section .image-block img {
  max-width: 150px;
  height: auto;
  margin: 24px;
}

/* Contenido en columnas */
.content-section {
  column-count: 3;
  column-gap: 24px;
}

.content-section p,
.content-section img {
  break-inside: avoid;
  margin-bottom: 20px;
  width: 100%;
  line-height: 1.5rem;
}

/* Responsive */
@media (min-width: 1400px) {
  .content-section {
    column-count: 4;
  }
}

@media (max-width: 768px) {

    .image-block {
        padding-top: 80px;
    }

  .header-section {
    flex-direction: column;
  }

  .header-section .title-interview {
    font-size: 28px;
  }

  .header-section .text-block {
    max-width: 100%;
    line-height: 1rem;
  }

  .header-section .date {
    text-align: left;
  }

  .content-section {
    column-count: 1;
  }
}


body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border-radius: 3px;
}

body::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0.05);
}